In [9]:
import pandas as pd

In [10]:
deputados = pd.read_csv('ArquivosLimpos/deputados.csv')
frentes = pd.read_csv('ArquivosLimpos/frentes.csv')

In [11]:
deputados

,deputado_id,nome,idLegislaturaInicial,idLegislaturaFinal,siglaSexo
0,4930,SILVIO COSTA,53,55,M
1,4931,IZALCI LUCAS,53,55,M
2,62881,Danilo Forte,54,56,M
3,64960,MARIA HELENA,52,55,F
4,66179,Norma Ayub,55,56,F
...,...,...,...,...,...
651,205234,FELIPE SOUZA,55,55,M
652,205297,MARFIZA GALVAO,55,55,F
653,205298,GUSTAVO MITRE,55,55,M
654,205302,CORONEL BITTENCOURT,55,55,M
655,205303,CARLA STEPHANINI,55,55,F

In [12]:
frentes

,id,titulo,deputado_.id,deputado_.nome,deputado_.siglaUf,deputado_.idLegislatura
0,53845,Frente Parlamentar Mista em Defesa da Pesquisa...,178890.0,ADELMO CARNEIRO LEÃO,MG,55
1,53845,Frente Parlamentar Mista em Defesa da Pesquisa...,178968.0,ADELSON BARRETO,SE,55
2,53845,Frente Parlamentar Mista em Defesa da Pesquisa...,141372.0,AELTON FREITAS,MG,55
3,53845,Frente Parlamentar Mista em Defesa da Pesquisa...,160508.0,AFONSO FLORENCE,BA,55
4,53845,Frente Parlamentar Mista em Defesa da Pesquisa...,160527.0,AGUINALDO RIBEIRO,PB,55
...,...,...,...,...,...,...
75123,53456,Frente Parlamentar Mista de Transporte e Logís...,141563.0,WILLIAM WOO,SP,55
75124,53456,Frente Parlamentar Mista de Transporte e Logís...,160636.0,WILSON FILHO,PB,55
75125,53456,Frente Parlamentar Mista de Transporte e Logís...,74439.0,WOLNEY QUEIROZ,PE,55
75126,53456,Frente Parlamentar Mista de Transporte e Logís...,73931.0,ZÉ GERALDO,PA,55
75127,53456,Frente Parlamentar Mista de Transporte e Logís...,160632.0,ZÉ SILVA,MG,55

In [13]:
participacao = []
for ids in deputados.deputado_id:
    part = frentes[frentes['deputado_.id'] == ids]
    participacao.append(part.shape[0])

In [14]:
deputados['Participação'] = participacao

In [15]:
deputados

,deputado_id,nome,idLegislaturaInicial,idLegislaturaFinal,siglaSexo,Participação
0,4930,SILVIO COSTA,53,55,M,63
1,4931,IZALCI LUCAS,53,55,M,195
2,62881,Danilo Forte,54,56,M,227
3,64960,MARIA HELENA,52,55,F,99
4,66179,Norma Ayub,55,56,F,8
...,...,...,...,...,...,...
651,205234,FELIPE SOUZA,55,55,M,0
652,205297,MARFIZA GALVAO,55,55,F,0
653,205298,GUSTAVO MITRE,55,55,M,0
654,205302,CORONEL BITTENCOURT,55,55,M,0
655,205303,CARLA STEPHANINI,55,55,F,0

In [16]:
deputados.sort_values(["Participação"])

,deputado_id,nome,idLegislaturaInicial,idLegislaturaFinal,siglaSexo,Participação
655,205303,CARLA STEPHANINI,55,55,F,0
304,154178,Milton Vieira,53,56,M,0
321,160534,Lauriete,54,56,F,0
70,74056,MENDONCA PRADO,52,55,M,0
654,205302,CORONEL BITTENCOURT,55,55,M,0
...,...,...,...,...,...,...
246,141440,CHICO LOPES,53,55,M,282
223,141383,ANTONIO BULHOES,53,55,M,282
385,160643,DR. JORGE SILVA,54,55,M,283
397,160663,LEOPOLDO MEYER,54,55,M,291
362,160607,JOSE STEDILE,54,55,M,298