In [240]:
from csv import reader
import numpy as np
from unidecode import unidecode
import pandas as pd
import statsmodels.api as sm

#### Nesse teste de hipótese estariamos avaliando qual a influência das mulheres nas votações, será que os homens possuem além de maior representativade maior facilidade para aprovação de propostas?

In [241]:
deputados = pd.read_csv('ArquivosLimpos/deputados-2019.csv').dropna()
deputados

,Unnamed: 0,Unnamed: 0.1,deputado_id,idLegislaturaInicial,idLegislaturaFinal,siglaSexo,ufNascimento,betweenness_centrality,eigenvecto_centrality
0,8,2842,66179,55,56,F,ES,0.000000,3.907493e-11
1,9,2845,66828,55,56,M,SP,0.000000,3.907493e-11
2,10,2847,67138,54,56,F,PI,0.000000,3.907493e-11
3,12,2852,68720,56,56,M,SE,0.000000,3.907493e-11
4,14,2854,69871,55,56,M,BA,0.000000,3.907493e-11
...,...,...,...,...,...,...,...,...,...
449,1033,7612,207309,56,56,M,MG,0.001079,4.442466e-02
450,1034,7613,209189,56,56,M,BA,0.000000,3.907493e-11
451,1036,7615,211866,56,56,M,MG,0.000000,3.907493e-11
452,1037,7616,212504,56,56,M,MG,0.000000,3.907493e-11
453,1038,7617,212625,56,56,M,MA,0.000000,3.907493e-11

In [242]:
deputados.dtypes

Unnamed: 0                  int64
Unnamed: 0.1                int64
deputado_id                 int64
idLegislaturaInicial        int64
idLegislaturaFinal          int64
siglaSexo                  object
ufNascimento               object
betweenness_centrality    float64
eigenvecto_centrality     float64
dtype: object

In [243]:
votacoes = pd.read_csv('ArquivosLimpos/votacoes-2019.csv').dropna()

In [244]:
votacoes.dtypes

Unnamed: 0                                     int64
id                                            object
idOrgao                                        int64
idEvento                                       int64
aprovacao                                    float64
votosSim                                       int64
votosNao                                       int64
votosOutros                                    int64
ultimaApresentacaoProposicao_idProposicao      int64
dtype: object

In [245]:
votos = pd.read_csv('ArquivosLimpos/votacoesVotos-2019.csv').dropna()

In [246]:
votos.dtypes

Unnamed: 0                int64
idVotacao                object
voto                      int64
deputado_id               int64
deputado_siglaPartido    object
pardido_id                int64
deputado_siglaUf         object
dtype: object

In [247]:
proposicoes = pd.read_csv('ArquivosLimpos/proposicoesAutores-2019.csv').dropna()

In [248]:
data_dep_prop = pd.merge(deputados, proposicoes, left_on='deputado_id', right_on='idDeputadoAutor')

In [249]:
data_voto_vota = pd.merge(votacoes,votos, left_on='id', right_on='idVotacao')

In [250]:
 data= pd.merge(data_dep_prop,votacoes, left_on='idProposicao', right_on='ultimaApresentacaoProposicao_idProposicao')

In [251]:
data_dep_prop.head()

,Unnamed: 0_x,Unnamed: 0.1,deputado_id,idLegislaturaInicial,idLegislaturaFinal,siglaSexo,ufNascimento,betweenness_centrality,eigenvecto_centrality,Unnamed: 0_y,idProposicao,idDeputadoAutor
0,8,2842,66179,55,56,F,ES,0.0,3.907493e-11,1553,2233724,66179.0
1,8,2842,66179,55,56,F,ES,0.0,3.907493e-11,3528,2231834,66179.0
2,8,2842,66179,55,56,F,ES,0.0,3.907493e-11,3529,2231833,66179.0
3,8,2842,66179,55,56,F,ES,0.0,3.907493e-11,3614,2231756,66179.0
4,8,2842,66179,55,56,F,ES,0.0,3.907493e-11,12419,2224878,66179.0

In [252]:
data.head()

,Unnamed: 0_x,Unnamed: 0.1,deputado_id,idLegislaturaInicial,idLegislaturaFinal,siglaSexo,ufNascimento,betweenness_centrality,eigenvecto_centrality,Unnamed: 0_y,...,idDeputadoAutor,Unnamed: 0,id,idOrgao,idEvento,aprovacao,votosSim,votosNao,votosOutros,ultimaApresentacaoProposicao_idProposicao
0,8,2842,66179,55,56,F,ES,0.0,3.907493e-11,58184,...,66179.0,4769,2200728-26,537870,56863,1.0,0,0,0,2214248
1,8,2842,66179,55,56,F,ES,0.0,3.907493e-11,115951,...,66179.0,2142,2187314-25,2006,55575,1.0,0,0,0,2200839
2,9,2845,66828,55,56,M,SP,0.0,3.907493e-11,2407,...,66828.0,8439,2218910-21,2001,58868,1.0,0,0,0,2232899
3,9,2845,66828,55,56,M,SP,0.0,3.907493e-11,58179,...,66828.0,5506,2204001-26,2001,57249,1.0,0,0,0,2214253
4,9,2845,66828,55,56,M,SP,0.0,3.907493e-11,110109,...,66828.0,3559,2190989-25,2001,56277,1.0,0,0,0,2204198

In [253]:
data1= data.idProposicao.value_counts().head(5)

In [254]:
data2= data.aprovacao.value_counts().head(5)

In [255]:
values = deputados['siglaSexo'].unique()

for value in values[:-1]:
    deputados[value] = [1 if v == value else 0 for v in deputados['siglaSexo']]

In [256]:
deputados[values[:-1]]

     F
0    1
1    0
2    1
3    0
4    0
..  ..
449  0
450  0
451  0
452  0
453  0

[453 rows x 1 columns]

In [257]:
despesas = pd.read_csv('ArquivosLimpos/Despesas-2019.csv').dropna()

In [258]:
nomes = despesas['txNomeParlamentar'].unique()

In [259]:
#norma = despesas.loc[(despesas["txNomeParlamentar"]== values[0]) &(despesas["vlrLiquido"]), ["txNomeParlamentar","vlrLiquido"]]
cont = 0
valores = []
for i in range(0, len(nomes)):
    df = despesas.loc[(despesas["txNomeParlamentar"]== nomes[i]) &(despesas["vlrLiquido"]), ["txNomeParlamentar","vlrLiquido"]]
    for d in df['vlrLiquido']:
        cont += d
    valores.append(int(cont))
    cont = 0

In [260]:
data = {'Nome': nomes, "Gastos": valores}
df = pd.DataFrame(data, columns=['Nome', 'Gastos'])
df

                  Nome  Gastos
0         SILVIO COSTA   40613
1         IZALCI LUCAS   31064
2         Danilo Forte   43131
3         MARIA HELENA   41977
4           Norma Ayub  268581
..                 ...     ...
799    Ricardo Pericar   47410
800  Fabiano Tolentino   57729
801     Fernando Borja    7653
802        Dr. Gonçalo   38043
803       Marcão Gomes    3640

[804 rows x 2 columns]

#### Influênca sexo na influência de um deputado

In [261]:
model = sm.Logit(deputados['eigenvecto_centrality'], deputados[values[:-1]])
result = model.fit()
result.summary()

Optimization terminated successfully.
         Current function value: 0.589565
         Iterations 9

C:\Users\Luiza Silveira\Anaconda3\lib\site-packages\statsmodels\discrete\discrete_model.py:3390: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 - self.llf/self.llnull

<class 'statsmodels.iolib.summary.Summary'>
"""
                             Logit Regression Results
=================================================================================
Dep. Variable:     eigenvecto_centrality   No. Observations:                  453
Model:                             Logit   Df Residuals:                      452
Method:                              MLE   Df Model:                            0
Date:                   Thu, 05 Nov 2020   Pseudo R-squ.:                     inf
Time:                           02:48:05   Log-Likelihood:                -267.07
converged:                          True   LL-Null:                        0.0000
Covariance Type:               nonrobust   LLR p-value:                       nan
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
F             -4.6500      1.243     -3.741      0.000      -7.086      -2.214
==============================================================================
"""

#### Influência eficiência na inflência de um deputado